/*_____________________GLOBAL-STYLES_____________________*/

:root {
  --color-main: #757575;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-main);
  font-weight: 700;
}
/*_______________________HEADER-index.html_____________________*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #2196f3;
}
span {
  color: black;
}
.menu-item,
.menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-contacts-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #2196f3;
}
/*_______________________HERO_INDEX.HTML_____________________*/
.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.section-hero {
  background-color: #2f303a;
}
.modal-btn {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
  text-align: center;
  cursor: pointer;
}
/*_______________________SECTION_INFO_INDEX.HTML_____________________*/
.h3-sector-info {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.section-info-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
}
/*_______________________SECTION_PHOTO_INFO_INDEX.HTML_____________________*/
.photo-info-h2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/*_______________________SECTION_TEAM_INDEX.HTML_____________________*/
.team {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.positions {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-main);
}
/*_______________________FOOTER_INDEX.HTML_____________________*/
.address-footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.mail-footer,
.tel-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
footer {
  background-color: #2f303a;
}
.span-footer {
  color: #ffffff;
}
/*_______________________SECTION-PORTFOLIO_____________________*/
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.img-name {
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: #212121;
}
.img-description {
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
